ManagingServicesApp/Connected Services/ServiceReference/MSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://MSService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MSService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://MSService/Imports">
      <xsd:import schemaLocation="http://localhost:8888/MSService?xsd=xsd0" namespace="http://MSService" />
      <xsd:import schemaLocation="http://localhost:8888/MSService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMSService_StartService_InputMessage">
    <wsdl:part name="parameters" element="tns:StartService" />
  </wsdl:message>
  <wsdl:message name="IMSService_StartService_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IMSService_StopService_InputMessage">
    <wsdl:part name="parameters" element="tns:StopService" />
  </wsdl:message>
  <wsdl:message name="IMSService_StopService_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IMSService">
    <wsdl:operation name="StartService">
      <wsdl:input wsaw:Action="http://MSService/IMSService/StartService" message="tns:IMSService_StartService_InputMessage" />
      <wsdl:output wsaw:Action="http://MSService/IMSService/StartServiceResponse" message="tns:IMSService_StartService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopService">
      <wsdl:input wsaw:Action="http://MSService/IMSService/StopService" message="tns:IMSService_StopService_InputMessage" />
      <wsdl:output wsaw:Action="http://MSService/IMSService/StopServiceResponse" message="tns:IMSService_StopService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>